{
    "name": "Composer Mirror",
    "require": {
        "phpunit/phpunit": "*",
    },
    "repositories": [
        {
            "url": "https://packagist.org",
            "type": "composer"
        }
    ],
    "require-dependencies": true,
    "homepage": "http://localhost",
    "archive": {
        "directory": "dist",
        "format": "zip"
    }
}